<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" aria-label="Volver">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="asistencia-container">
    <ion-list>
      <ion-item *ngFor="let asistencia of asistencias" lines="none" class="asistencia-item">
        <ion-label>
          <h2 class="asistencia-title">Asistencia: {{ asistencia.qrData }}</h2>
          <p class="asistencia-info">Fecha: {{ asistencia.timestamp.toDate() | date: 'dd-MM-yyyy' }}</p>
          <p class="asistencia-info">Hora: {{ asistencia.timestamp.toDate() | date: 'HH:mm' }}</p>
          <p class="asistencia-info estado">Estado: Presente</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
