.recuperar-content {
  .recuperar-header {
    text-align: center;
    margin: 2rem 1rem;
    color: #1e88e5;

    h2 {
      font-size: 1.8rem;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
      margin-top: 0.5rem;
      color: #1565c0;
      opacity: 0.8;
    }
  }

  .custom-input {
    --background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 0.5rem;
  }

  .custom-button {
    margin: 2rem 1rem;
    font-size: 1rem;


  }
}