<ion-header>
  <ion-toolbar color="secondary">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="recuperar-content">
  <!-- Encabezado descriptivo -->
  <div class="recuperar-header">
    <h2>¿Olvidaste tu contraseña?</h2>
    <p>Introduce tu correo electrónico para restablecerla.</p>
  </div>

  <!-- Campo de correo -->
  <ion-item class="custom-input">
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>

  <!-- Botón de acción -->
  <ion-button expand="block" shape="round" (click)="recuperarContrasena()" class="custom-button">
    Enviar Enlace de Recuperación
  </ion-button>
</ion-content>