:host {
  ion-content {
    --background: linear-gradient(145deg, #1c1f26, #2b2f3a);
    color: #f0f0f0;

    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .login-card {
      width: 90%;
      max-width: 380px;
      border-radius: 12px;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
      background: #2a2d36;

      ion-card-header {
        text-align: center;
        padding-bottom: 0;

        ion-card-title {
          font-size: 1.8rem;
          font-weight: bold;
          color: #ffffff;
        }

        .subtitle {
          font-size: 0.9rem;
          color: #b5b5b5;
          margin-top: 5px;
        }
      }

      .input-item {
        margin: 10px 0;
        display: flex;
        align-items: center;

        ion-label {
          color: #000000 !important; 
          font-weight: 500;
        }
        .toggle-password {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;

          ion-icon {
            color: #000000; 
            font-size: 1.5rem;
          }

          &:hover ion-icon {
            color: #666666; 
          }
        }
      }

      .login-button {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(145deg, #0077ff, #0056b3);
        color: #ffffff;
        font-weight: bold;
        border-radius: 25px;
        padding: 12px 20px;
        font-size: 1rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;

        ion-icon {
          font-size: 1.2rem;
          margin-right: 8px;
        }

        &:hover {
          transform: translateY(-2px);
          background: linear-gradient(145deg, #0056b3, #003f80);
        }

        &:active {
          transform: translateY(0);
          box-shadow: none;
        }
      }

      .loading-spinner {
        display: block;
        margin: 15px auto;
      }

      .error-message {
        text-align: center;
        font-size: 0.9rem;
        color: #ff5c5c;
        margin-top: 10px;
      }

      .forgot-password {
        text-align: center;
        margin-top: 10px;

        a {
          color: #8f94fb;
          text-decoration: none;
          font-size: 0.9rem;

          &:hover {
            text-decoration: underline;
            color: #b0b3f5;
          }
        }
      }
    }
  }
}
