<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido, {{ userData.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola, {{ userData.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Email: {{ userData.email }}</p>
      <ion-button expand="full" (click)="scanQRCode()">Escanear QR</ion-button> <!-- Botón para escanear QR -->
      <div *ngIf="scannedData">
        <h3>Datos del QR:</h3>
        <p>{{ scannedData }}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
